---
import { Image } from "astro:assets";

// Importación de la imagen descriptiva de la empresa
import sistemaImage from "@assets/images/impermeabilizantes-acrilicos-gaf.webp";
---

<section class="py-12" id="acrilicos">
    <div class="mx-4">
        <div
            class="max-w-6xl px-4 sm:px-6 lg:px-8 flex flex-col lg:flex-row gap-[5px] items-center py-4 lg:py-12 bg-white rounded-md mx-auto shadow-lg hover:shadow-xl transition-shadow duration-300"
        >
            <!-- Imagen descriptiva de la empresa -->
            <div class="w-full lg:w-1/2">
                <Image
                    src={sistemaImage}
                    alt="Impermeabilizantes Acrílicos GAF"
                    class="rounded-lg w-full h-auto"
                    width={640}
                    height={480}
                    loading="lazy"
                    data-aos="fade-right"
                />
            </div>

            <!-- Bloque de descripción -->
            <div class="w-full lg:w-1/2 py-4 lg:p-6">
                <h2
                    class="text-primary text-2xl md:text-3xl font-bold mb-2 leading-snug"
                    data-aos="fade-right"
                >
                    IMPERMEABILIZANTES <strong class="text-accent">ACRÍLICOS</strong> GAF
                </h2>
                <div class="w-[140px] h-[2px] bg-accent mb-6"></div>
                <p
                    class="text-gray-700 text-lg leading-relaxed"
                    data-aos="fade-right"
                >
                    Protegen tu techo del desgaste, el envejecimiento y la
                    exposición UV. Su fórmula a base de agua es de bajo olor y
                    fácil de aplicar.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="mx-4">
        <h3 class="text-primary text-center text-3xl" data-aos="fade-right">
            Impermeabilizantes <strong class="text-accent">Acrílicos</strong> destacados
        </h3>
        <p class="text-center text-gray-700 text-lg mt-4">Para uso en techos nuevos y existentes de metal, concreto estructural, TPO, PVC, Hypalon®, SPF, EPDM y asfálticos.</p>
    </div>
</section>
