---
import { Icon } from "astro-icon/components";

// Información de los beneficios
const beneficios = [
  {
    icon: "mdi:grain", // Cambia el ícono según sea necesario
    title: "Tecnología de Vanguardia",
    description: "Fórmulas avanzadas como híbridos de poliuretano, membranas de secado ultra rápido y sistemas osmóticos para resolver los desafíos más exigentes."
  },
  {
    icon: "mdi:weather-lightning-rainy", // Cambia el ícono según sea necesario
    title: "Durabilidad Garantizada",
    description: "Productos diseñados para resistir las condiciones más severas, desde la interperie hasta el tráfico peatonal, con garantías claras y un rendimiento superior a largo plazo."
  },
  {
    icon: "mdi:home-city-outline", // Cambia el ícono según sea necesario
    title: "Soluciones Integrales",
    description: "Más que productos, ofrecemos sistemas completos que incluyen primarios, selladores y bandas de refuerzo para asegurar que cada punto crítico de tu obra esté perfectamente protegido."
  },
  {
    icon: "mdi:access-time", // Cambia el ícono según sea necesario
    title: "Eficiencia y Ahorro",
    description: "Innovaciones como el refuerzo con fibras o el secado en minutos que reducen tiempos de obra y costos de mano de obra, acelerando la finalización de tus proyectos."
  },
  {
    icon: "mdi:check-decagram-outline", // Cambia el ícono según sea necesario
    title: "Respaldo Global, Presencia Local",
    description: "La confianza de una marca líder mundial con plantas de producción en México, asegurando productos adaptados a nuestras condiciones y un suministro confiable."
  }
];
---

<section class="py-12" id="beneficios">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-[35px]">
      {beneficios.map((beneficio) => (
        <div class="bg-white rounded-lg shadow-md p-6 transition-transform duration-300 ease-in-out transform hover:shadow-lg hover:scale-105 hover:bg-white hover:text-primary"  data-aos="zoom-in-up">
          <!-- Ícono del beneficio -->
          <Icon name={beneficio.icon} class="text-accent text-6xl font-bold mb-4" />

          <!-- Título del beneficio -->
          <h3 class="text-primary text-xl font-bold mb-2">{beneficio.title}</h3>

          <!-- Descripción del beneficio -->
          <p class="text-gray-700 text-lg">
            {beneficio.description}
          </p>
        </div>
      ))}
    </div>
  </div>
</section>
