---
import { Image } from "astro:assets";

// Importación de la imagen descriptiva de la empresa
import imperliquidosImage from "@assets/images/impermeabilizantes-mapei.webp";
import impersiliconImage from "@assets/images/impermeabilizante-de-silicon-gaf.webp";
---

<section class="pt-12 pb-0" id="liquidos">
  <div
    class="max-w-6xl mx-auto px-4 md:py-12 sm:px-6 lg:px-8 flex flex-col md:flex-row gap-[12px] md:gap-[35px] items-center"
  >
    <!-- Imagen descriptiva de la empresa -->
    <div class="w-full md:w-1/2 order-1 md:order-2 pb-4 md:pb-0">
      <Image
        src={imperliquidosImage}
        alt="Ventajas de los Impermeabilizantes GAF"
        class="rounded-lg w-full h-auto"
        width={600}
        height={400}
        loading="lazy"
        data-aos="zoom-in-up"
      />
    </div>

    <!-- Bloque de descripción -->
    <div class="w-full md:w-1/2 bg-white rounded-md p-6 order-2 md:order-1">
      <h2
        class="text-primary text-3xl font-bold mb-2 leading-snug"
        data-aos="zoom-in-up"
      >
        Recubrimientos <strong class="text-accent">Líquidos</strong> para Techos
      </h2>
      <div class="w-[140px] h-[2px] bg-accent mb-6"></div>
      <p class="text-gray-700 text-lg leading-relaxed" data-aos="zoom-in-up">
        Soluciones versátiles que crean una barrera monolítica (sin uniones)
        para restaurar y extender drásticamente la vida útil de tu techo
        existente.
      </p>
    </div>
  </div>
</section>

<section class="py-12" id="silicon">
  <div class="mx-4">
    <div
      class="max-w-6xl px-4 sm:px-6 lg:px-8 flex flex-col lg:flex-row gap-[5px] items-center py-4 lg:py-12 bg-white rounded-md mx-auto shadow-lg hover:shadow-xl transition-shadow duration-300"
    >
      <!-- Imagen descriptiva de la empresa -->
      <div class="w-full lg:w-1/2">
        <Image
          src={impersiliconImage}
          alt="Impermeabilizantes de Silicón GAF"
          class="rounded-lg w-full h-auto"
          width={600}
          height={400}
          loading="lazy"
          data-aos="fade-right"
        />
      </div>

      <!-- Bloque de descripción -->
      <div class="w-full lg:w-1/2 py-4 lg:p-6">
        <h2
          class="text-primary text-2xl md:text-3xl font-bold mb-2 leading-snug"
          data-aos="fade-right"
        >
          IMPERMEABILIZANTES DE <strong class="text-accent">SILICÓN</strong> GAF
        </h2>
        <div class="w-[140px] h-[2px] bg-accent mb-6"></div>
        <p class="text-gray-700 text-lg leading-relaxed" data-aos="fade-right">
          Crean una barrera impermeable que protege contra los efectos dañinos
          del clima, los rayos UV y las filtraciones por agua estancada.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="" id="">
  <div class="mx-4">
    <h3 class="text-white text-center text-3xl" data-aos="fade-right">
      Impermeabilizantes de <strong>Silicón</strong> destacados
    </h3>
  </div>
</section>
