---
import { Image } from "astro:assets";

// Importación de la imagen descriptiva de la empresa
import sistemaImage from "@assets/images/impermeabilizacion-obra-enterrada-mapei-mexico.webp";
---

<section class="py-12 fondo-claro" id="membranasliquidas">
  <div class="mx-4">
    <div
      class="max-w-6xl px-4 sm:px-6 lg:px-8 flex flex-col lg:flex-row gap-[5px] items-center py-4 lg:py-12 bg-white rounded-md mx-auto shadow-lg hover:shadow-xl transition-shadow duration-300"
    >
      <!-- Imagen descriptiva de la empresa -->
      <div class="w-full lg:w-1/2">
        <Image
          src={sistemaImage}
          alt="Membranas Líquidas y Cementosas Mapei"
          class="rounded-lg w-full h-auto"
          width={sistemaImage.width}
          height={sistemaImage.height}
          sizes="(max-width: 768px) 100vw, (max-width: 1024px) 907px, 714px",
          densities={[1, 1.5, 2]}
          loading="lazy"
          data-aos="fade-right"
        />
      </div>

      <!-- Bloque de descripción -->
      <div class="w-full lg:w-1/2 py-4 lg:p-6">
        <h2
          class="text-primary text-2xl md:text-3xl font-bold mb-2 leading-snug"
          data-aos="fade-right"
        >
          <strong>Membranas Líquidas y Cementosas</strong> para Estructuras
        </h2>
        <div class="w-[140px] h-[2px] bg-accent mb-6"></div>
        <p class="text-gray-700 text-lg leading-relaxed" data-aos="fade-right">
          Soluciones especializadas para proteger zonas en contacto constante
          con el agua como baños, albercas, cisternas y cimentaciones. Ofrecen
          desde secado ultra rápido hasta resistencia a la presión hidrostática
          más extrema.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="" id="">
  <div class="mx-4">
    <h3 class="text-primary text-center text-3xl" data-aos="fade-right">
      <strong class="text-accent">Membranas Líquidas y Cementosas</strong> destacadas
    </h3>
  </div>
</section>
