---
import Layout from "../layouts/Layout.astro";
import FooterBottom from "@components/FooterBottom.astro";
---

<Layout
  title="Aviso de privacidad"
  description="Aviso de privacidad"
  ogtype="website"
  ogimage="https://www.impermapei.w365.uno/images/impermeabilizantes-mapei-mexico-og.webp"
  noindex
> 
  <slot />

  <section class="bg-ghostwhite py-12" id="gracias">
    <div
      class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row gap-[35px] items-center"
    >
      <!-- Bloque de descripción -->
      <div class="w-full bg-white rounded-md p-6">
        <h2
          class="text-primary text-3xl font-bold mb-4 leading-snug"
          
        >
          Aviso de privacidad
        </h2>
        <p class="text-gray-700 text-lg leading-relaxed py-2" >
          De conformidad con la Ley Federal de Protección de Datos Personales en
          Posesión de los Particulares hacemos de su conocimiento que Corporativo Construyendo Soluciones, con domicilio en Av. Calz del Federalismo Nte 379, Jesús, 44200 Guadalajara, Jalisco. Teléfono: 33-1079-3173 es responsable de recabar sus
          datos personales, del uso que se le dé a los mismos y de su
          protección.
        </p>

        <p class="text-gray-700 text-lg leading-relaxed py-2" >
          Su información personal será utilizada para las siguientes finalidad:
          informar de los servicios que ha solicitado; notificarle sobre
          nuestras promociones que tengan relación con los servicios ya
          contratados o adquiridos; comunicarle sobre cambios en los mismos;
          elaborar estudios y programas que son necesarios para determinar
          hábitos de consumo; cumplir con las obligaciones fiscales de esta
          empresa; generar la facturación correspondiente y en general para dar
          cumplimiento a las obligaciones que hemos contraído con usted.
        </p>

        <p class="text-gray-700 text-lg leading-relaxed py-2" >
          Para las finalidades antes mencionadas, requerimos obtener algunos de
          los siguientes datos personales:
        </p>

        <ul class="list-disc pl-6 py-2" >
          <li>Nombre completo</li>
          <li>Teléfono fijo y/o celular</li>
          <li>Correo electrónico</li>
          <li>Dirección</li>
          <li>RFC y/o CURP</li>
        </ul>

        <p class="text-gray-700 text-lg leading-relaxed py-2" >
          Le informamos que usted tiene derecho al Acceso, Rectificación y
          Cancelación de sus datos personales, a Oponerse al tratamiento de los
          mismos o a revocar el consentimiento que para dicho fin nos haya
          otorgado, a través de los procedimientos y formatos que hemos
          implementado para cumplir con la ley de la materia.
        </p>

        <p class="text-gray-700 text-lg leading-relaxed py-2"  >
          Para conocer esos procedimientos, requisitos y plazos, puede ponerse
          en contacto con nuestra administración, con domicilio en Av. Calz del Federalismo Nte 379, Jesús, 44200 Guadalajara, Jalisco. Teléfono: 33-1079-3173, con un
          horario de atención de lunes a viernes de 10:00 a.m. a 5:00 p.m.
        </p>

        <p class="text-gray-700 text-lg leading-relaxed py-2" >
          Asimismo, le informamos que sus datos personales pueden ser
          transferidos a personas distintas a esta empresa. En este sentido, su
          información puede ser compartida con empresas de paquetería y/o
          transporte para hacerle llegar a su domicilio los productos
          solicitados, con sociedades que dictaminan los estados financieros de
          esta empresa y con instituciones de banca múltiple para dar
          cumplimiento a las obligaciones que el responsable de los datos tiene
          con usted.
        </p>

        <p class="text-gray-700 text-lg leading-relaxed py-2" >
          Si usted no manifiesta su oposición para que sus datos personales sean
          transferidos, se entenderá que ha manifestado su consentimiento para
          ello. Cualquier modificación a este aviso de privacidad podrá
          consultarla en la siguiente página de internet. Fecha de última
          actualización 2 de Agosto del 2025.
        </p>
      </div>
    </div>
  </section>
</Layout>

<FooterBottom />
</Layout>