---
import Layout from "../layouts/Layout.astro";
import Hero from "@components/landing/Hero.astro";
import Introduccion from "@components/landing/Introduccion.astro";
import ProductsByBrand from "@components/landing/ProductsByBrand.astro";
import Proyectos from "@components/landing/Proyectos.astro";
import Nosotros from "@components/landing/Nosotros.astro";
import Footer from "@components/Footer.astro";
import Liquidos from "@components/landing/Liquidos.astro";
import FooterBottom from "@components/FooterBottom.astro";
import Instalacion from "@components/landing/Instalacion.astro";
import Beneficios from "@components/landing/Beneficios.astro";
import Membranas from "@components/landing/Membranas.astro";
import MantosAsfalticos from "@components/landing/MantosAsfalticos.astro";
---

<Layout
  title="Impermeabilizantes Mapei en México | Instaladores Certificados"
  description="Soluciones Líderes en Impermeabilizantes Mapei. Con 40 Años de Experiencia, Ofrecemos Sistemas Acrílicos, Cementosos y Asfálticos con Garantía. Asesoría Técnica Sin Costo."
  ogtype="website"
  ogimage="https://www.impermapei.w365.uno/images/impermeabilizantes-mapei-mexico-og.webp"
  noindex={true}
>
  <slot />

  <Hero />

  <div class="bg-gradient-to-r from-[#9BAFD9] to-[#103783]">
    <div id="beneficios"></div>
    <Introduccion />
    <Beneficios />
  </div>

  <Instalacion />

  <div id="productos"></div>
  <div class="bg-gradient-to-r from-[#9BAFD9] to-[#103783]">
    <Liquidos />
    <ProductsByBrand categoria="Impermeabilizantes Liquidos" bgColor="" />
  </div>


  <Membranas />

  <div class="bg-gradient-to-r from-[#9BAFD9] to-[#103783]">
    <MantosAsfalticos />
    <ProductsByBrand categoria="Mantos Asfálticos" bgColor="" />
  </div>

  <div
    class="bg-[url('/src/assets/images/fondos/fondo-claro-meteoro.webp')] bg-cover bg-center bg-no-repeat"
  >
    <Proyectos />
  </div>

  <div class="bg-gradient-to-r from-[#9BAFD9] to-[#103783]">
    <Nosotros />
  </div>

  <div
    class="bg-[url('/src/assets/images/fondos/fondo-claro-meteoro.webp')] bg-cover bg-center bg-no-repeat"
  >
    <Footer />
  </div>

  <FooterBottom />
</Layout>
