
<div class="bg-primary min-h-16 ">    
    <div
    class="max-w-6xl mx-auto p-6">
    <p class="text-white py-6"><a href="/aviso" rel="nofollow" class="hover:text-persianRed">Aviso de privacidad</a></p>
    <p class="text-white pb-8">Somos Distribuidores y Aplicadores Certificados GAF en México, Este no es el sitio web oficial de GAF.</p>
    </div>
</div>