---
// src/components/PhoneList.astro
import { Icon } from "astro-icon/components";

// Información de los teléfonos
const phones = [
  { icon: "mdi:phone-dial", number: "33-3615-1421", link: "tel:3336151421" },
  { icon: "mdi:phone-dial", number: "(800) 8909-363", link: "tel:8008909363" }
];
---

<!-- Lista de Teléfonos -->
<div class="space-y-3">
  {phones.map((phone) => (
    <a href={phone.link} target="_blank" rel="noopener noreferrer" class="flex items-center text-gray-800 text-lg font-medium hover:text-accent transition-colors text-adjust">
      <Icon name={phone.icon} class="w-6 h-6 text-accent mr-3" />
      <span class="text-adjust">{phone.number}</span>
    </a>
  ))}
</div>
