---
// src/components/PhoneList.astro
import { Icon } from "astro-icon/components";

// Información de los teléfonos
const phones = [
  { icon: "whatsapp", number: "33-1079-3173", link: "https://wa.me/5213310793173?text=Hola,%20solicito%20información%20sobre%20los%20impermeabilizantes%20GAF" },
  { icon: "whatsapp", number: "55-6037-0930", link: "https://wa.me/5215560370930?text=Hola,%20solicito%20información%20sobre%20los%20impermeabilizantes%20GAF" },
];
---

<!-- Lista de Teléfonos -->
<div class="space-y-3 mb-6">
  {phones.map((phone) => (
    <a href={phone.link} target="_blank" rel="noopener noreferrer" class="flex items-center text-gray-800 text-lg font-medium hover:text-accent transition-colors text-adjust">
      <Icon name={phone.icon} class="w-6 h-6 text-accent mr-3" />
      <span class="text-adjust">{phone.number}</span>
    </a>
  ))}
</div>
